/* seu-stylesheet.css */

body {
    font-family: Arial, sans-serif;
    background-color: #120c4b;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    width: 80%;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

h1 {
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #337ab7;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #286090;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.header {
    text-align: center;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.header h1 {
    margin-bottom: 10px;
}

.header form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

form li {
    font-size: 14px;
    color: #666;
    margin-top: -10px;
    margin-bottom: 10px;
}

.success-message {
    color: #00cc00;
    font-size: 16px;
    margin-top: 10px;
}

.exit-button {
    display: block;
    text-align: right;
    margin-top: 10px;
    text-decoration: none;
    color: #333;
}

.exit-button:hover {
    color: #ff0000;
}